@use "./destyle" as *;
@use "./elastic" as *;

body {
  background: mediumaquamarine;
  background: url("../img/bookshelf.jpg") no-repeat center center/cover;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  min-height: 100vh;
  color: #333;
  box-sizing: border-box;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  color: dodgerblue;
  margin-bottom: 1rem;
}

.common-box {
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 2rem 6rem 7rem;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
  backdrop-filter: blur(10px);
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);

  input[type="submit"] {
    position: absolute;
    left: 6rem;
    bottom: 2rem;
    border-radius: 2rem;
    padding: 0.6rem 1.8rem;
    transition: all 0.3s;
    background: #eee;

    &:hover {
      background: #fff;
      color: #555;

      @include mq("sp") {
        background: #555;
        color: #fff;
      }
    }

    @include mq("sp") {
      background: #333;
      color: #ddd;
    }
  }

  @include mq("sp") {
    background: rgba(0, 0, 0, 0.4);
    color: #ddd;
  }
}

.input-row {
  width: fit-content;
  margin-bottom: 0.4rem;

  input[type="text"] {
    padding: 0.4rem 1rem;
    transition: all 0.3s;
    cursor: pointer;
  }

  // hover
  &:hover {
    .the-id {
      input[type="text"] {
        background: dodgerblue;
          color: #eee;
      }
    }

    .the-name {
      input[type="text"] {
        background: #eee;
        color: #333;
      }
    }
  }

  // focus
  .the-id {
    input[type="text"]:focus {
      background: dodgerblue;
        color: #eee;
    }
  }

  .the-name {
    input[type="text"]:focus {
      background: #eee;
      color: #333;
    }
  }
}

.the-id {
  input[type="text"] {
    border-radius: 0.2rem 0 0 0.2rem;
    width: 60px;
    background: darkgray;
  }
}

.the-name {
  input[type="text"] {
    border-radius: 0 0.2rem 0.2rem 0;
    background: lightgray;
  }
}